TELEGRAM_TOKEN=8729755307:AAHONlH5vahDi_6KOPbLiC_ZaB4P5dsEChc
NOTION_TOKEN=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
NOTION_DB_ID=36b27f97dd298023a0fbf9cbaafa8bd1
GEMINI_KEY=AIzaSyBAqkgMNMKKyF9q-E4P8UAttgd9rSwSEvs
